<section class="main no-padding">
<%= render('shared/account_fix') %>
<div class="container">
<div class="row">
<%= render('shared/account_menu') %>
    <div class="col-md-9 col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"> <a href="#collapseB1" data-toggle="collapse"> Ma société </a> </h4>
            </div>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: "UserProfileForm", class: "form-horizental" }) do |f| %>
            <%= render 'shared/devisemes' %>
                <div class="panel-body">  
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Logo</label>
                        <div class="col-sm-9">
                            <%= f.file_field :avatar %>
                        </div>
                    </div><br>        
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Nom Société</label>
                        <div class="col-sm-9">
                            <%= f.text_field :name, autofocus: true, :placeholder => "Nom société", :class => 'form-control' %>
                        </div>
                    </div><br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9">
                            <%= f.email_field :email, :placeholder => "Email", :class => 'form-control' %>
                        </div>
                    </div><br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Ville</label>
                        <div class="col-sm-9">
                            <%= f.text_field :city, :placeholder => "Ville", :class => 'form-control' %>
                        </div>
                    </div><br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Adresse</label>
                        <div class="col-sm-9">
                            <%= f.text_field :address, :placeholder => "Adresse", :class => 'form-control' %>
                        </div>
                    </div><br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Téléphone</label>
                        <div class="col-sm-9">
                            <%= f.text_field :phone_number, :placeholder => "Numéro de telephone", :class => 'form-control' %>
                        </div>
                    </div><br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-9">
                            <%= f.text_area :description, rows: 5, cols: 25,  :placeholder => "Description", :class => 'form-control' %>
                        </div>
                    </div><br>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Nouveau Mdp</label>
                        <div class="col-sm-9">
                            <%= f.password_field :password, autocomplete: "off", :placeholder => "Nouveau mot de passe(Laisser vide sinon)", :class => 'form-control' %>
                        </div>
                    </div><br>
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">Confirmez</label>
                        <div class="col-sm-9">
                            <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Confirmez le mot de passe", :class => 'form-control' %>
                        </div>
                    </div>

                </div>
                <div class="panel-footer">
                    <div class="row">
                        <center>
                            <%= f.button :submit, :class=> "btn btn-custom" do %>
                              <i class="fa fa-save"></i> Enregistrer
                            <% end %>
                        </center>
                    </div>
                </div>
            <% end %>
        </div>
    </div>  
</div>
</div>
</section>