<section class="main no-padding">
<%= render('shared/account_fix') %>
<div class="container">
<div class="row">
<%= render('shared/account_menu') %>
    <div class="col-md-9 col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"> <a href="#collapseB1" data-toggle="collapse">Mes renouvellements </a> </h4>
            </div>

<div class="panel-body">
                <div class="before-table">
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Voiture</th>
                            <th>Détails</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @renouvellements.order("id desc").each do |renouvellement| %>
                            <tr>
                            <td>
                                <%= link_to voiture_path(renouvellement.voiture) do %>
                                <%= image_tag renouvellement.voiture.photos[0].image.url(:thumb), class: "thumb-img img-responsive" if renouvellement.voiture.photos.length > 0 %>
                                <% end %>
                            </td>
                            <td>
                                <div class="item-title"><strong><%= link_to "#{renouvellement.voiture.marque} #{renouvellement.voiture.modele}",voiture_path(renouvellement.voiture) %></strong></div>
                                <div class="item-meta">
                                    <ul>
                                        <li class="item-date"><i class="fa fa-clock-o"></i> <%= renouvellement.voiture.created_at.strftime('%v') %>
                                        </li>
                                        <li class="item-location"><i class="fa fa-map-marker"></i> <%= renouvellement.voiture.ville %>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td><%= renouvellement.created_at.strftime("Le %m/%d/%Y à %I:%M%p") %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>   
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <%= will_paginate @renouvellements, :previous_label => 'Précédent', :next_label => 'Suivant' %>
                    </div>
                </div>           
            </div>
        </div>
    </div>  
</div>
    </div>
</section>