<%= form_for([@user, @user.reviews.new], html: { class: "form-horizental" }) do |f| %>
	<%= f.hidden_field :user_id, value: @user.id %>
	<div class="row">
        <div class="col-xs-6">
			<%= f.text_field :name, class: "form-control", placeholder: "Nom complet" %>
		</div>
		<div class="col-xs-6">
			<%= f.email_field :email, class: "form-control", placeholder: "Email" %>	
		</div>
	</div></br>
	<div class="form-group">
		<%= f.text_area :comment, rows: 3, class: "form-control", placeholder: "Votre commentaire" %>	
	</div>
	<div class="row">
        <div class="col-xs-6">
			<center>Note:<div id="user_stars"></div></center>
		</div>
		<div class="col-xs-6">
			<center><%= f.submit "Envoyer", class: "btn btn-default" %></center>
		</div>
	</div>
<hr>

<% end %>

<script>
	$('#user_stars').raty({
		path: '/assets',
		scoreName: 'review[star]',
		score: 3
	});
</script>