<section class="main no-padding">
<%= render('shared/account_fix') %>
<div class="container">
<div class="row">
<%= render('shared/account_menu') %>
    <div class="col-md-9 col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"> <a href="#collapseB1" data-toggle="collapse"> Mes avis </a> </h4>
            </div>

<div class="panel-body">
                <div class="before-table">
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Commentaire</th>
                            <th>Note</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @reviews.order("id desc").each do |review| %>
                            <tr>
                            <td>
                                <%= review.name %>(<%= review.email %>)
                            </td>
                            <td>
                                <div class="item-title"><strong><%= review.comment %></strong></div>
                            </td>
                            <td><%= review.star %>/5</div></td>
                            <td><%= review.created_at.strftime("%v") %></td>
                        </tr>
                        <script>
                            $('#stars_<%= review.id %>').raty({
                                path: '/assets',
                                readOnly: true,
                                score: <%= review.star %>
                            });
                        </script>
                        <% end %>
                    </tbody>
                </table>   
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <%= will_paginate @reviews, :previous_label => 'Précédent', :next_label => 'Suivant' %>
                    </div>
                </div>           
            </div>
        </div>
    </div>  
</div>
    </div>
</section>